Repository 6monthslater/6monthslater, pull requests merged in 2023-11, with the labels that each got.

#98 feat: seed db in prod
  server/Dockerfile
Labels: docker

#99 fix: buggy columns on product page
  server/app/components/navbar.tsx
  server/app/routes/product.$productId.tsx
Labels: bug, server

#111 feat: allow direct submission of user reports
  README.md
  server/app/components/create-report/create-report-dialog.tsx
  server/app/components/shadcn-ui-mod/date-picker-controlled.tsx
  server/app/components/ui/calendar.tsx
  server/app/components/ui/popover.tsx
  server/app/root.tsx
  server/app/routes/product.$productId.tsx
  server/app/types/ReportFormErrors.ts
  server/app/types/ReportFormRow.ts
  server/package-lock.json
  server/package.json
  server/prisma/migrations/20231126043322_add_product_report_direct_rel/migration.sql
  server/prisma/migrations/20231126061433_report_add_purchase_date/migration.sql
  server/prisma/migrations/20231127020541_add_author_id_to_report/migration.sql
  server/prisma/schema.prisma
Labels: enhancement, server

#112 Display product image on product page
  server/app/components/product-header.tsx
  server/app/routes/product.$productId.tsx
Labels: enhancement, server

#116 Filter out duplicates from top issues and fix top issues sometimes having more than 5
  server/app/routes/product.$productId.tsx
Labels: bug, server

#123 feat: implement production auth callback handling
  server/app/components/ui/toast.tsx
  server/app/components/ui/toaster.tsx
  server/app/components/ui/use-toast.ts
  server/app/root.tsx
  server/app/routes/_index.tsx
  server/app/routes/auth.signup.tsx
  server/package-lock.json
  server/package.json
Labels: enhancement, server

#126 feat: redesign product page
  server/app/components/product/report-card.tsx
  server/app/components/ui/badge.tsx
  server/app/routes/admin.queue-status.tsx
  server/app/routes/product.$productId.tsx
  server/app/types/product.ts
  server/app/utils/format.ts
  server/app/utils/product.ts
  server/prisma/migrations/20231129043237_add_report_created_at/migration.sql
  server/prisma/schema.prisma
Labels: enhancement, server

#137 feat: collect criticality in create report dialog
  server/app/components/create-report/create-report-dialog.tsx
  server/app/components/product/report-card.tsx
  server/app/components/ui/slider.tsx
  server/app/routes/product.$productId.tsx
  server/app/types/ReportFormErrors.ts
  server/app/types/ReportFormRow.ts
  server/package-lock.json
  server/package.json
Labels: enhancement, server

#135 feat: add loading circles and other pending UI
  server/app/components/create-report/create-report-dialog.tsx
  server/app/components/inline-loading-spinner.tsx
  server/app/components/navbar.tsx
  server/app/components/pagination-bar.tsx
  server/app/components/ui/toast.tsx
  server/app/routes/$.tsx
  server/app/routes/_index.tsx
  server/app/routes/admin.crawler.tsx
  server/app/routes/admin.products.tsx
  server/app/routes/admin.queue-status.tsx
  server/app/routes/admin.queue.tsx
  server/app/routes/admin.users.tsx
  server/app/routes/auth.forbidden.tsx
  server/app/routes/auth.login.tsx
  server/app/routes/auth.signup.tsx
Labels: enhancement, server
